@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");

.footer {
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  margin: 2rem 0 0 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0px 0px 10px 10px rgba(94, 92, 92, 0.3),
    0 6px 20px 0 rgba(211, 211, 211, 0.2);
  background-color: #31363b;

  .copyRight {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1em;
    color: #77B244;
    text-transform: uppercase;
    font-family: "Nanum Brush Script", cursive;
  }
}
