table {
  tbody {
    tr {

      td,
      th {
        &.green {
          background-color: green;

          &:hover {
            background-color: #145214;
          }
        }

        &.yellow {
          background-color: yellow;

          &:hover {
            background-color: #56741b;
          }
        }

        &.orange {
          background-color: orange;

          &:hover {
            background-color: #8d4718;
          }
        }

        &.red {
          background-color: red;

          &:hover {
            background-color: #7a0000;
          }
        }
      }
    }
  }
}
